:root {
    --bg-color: #e9e9e9;
    --inverted-bg-color: #282727;
    --primary-color: #000;
    --secondary-color: #555;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #bfbfbf;
}
